.App {
  background-color: rgb(67, 52, 80);
  height: 100vh;
  width: 100vw;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App * {
  margin: 0 10px 0 10px;
}

.textbox,
.markdown {
  height: 100%;
  width: 50%;
}

.box-heading {
  text-align: center;
  color: white;
}